
.pagination-bullet {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(255, 255, 255, 0.479);
  }
  
  .pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
  